default_language_version:
  python: python3
exclude: ^.*\b(migrations)\b.*$
repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-ast
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: check-added-large-files
      - id: check-json
      - id: check-symlinks
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-tidy-imports
        args: [--max-line-length=88]
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.0.1
    hooks:
      - id: reorder-python-imports
        args:
          - --py37-plus
          - --application-directories=.:src
        exclude: migrations/
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.32.0
    hooks:
      - id: pyupgrade
        args:
          - --py37-plus
        exclude: migrations/
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.5.0
    hooks:
      - id: django-upgrade
        args:
          - --target-version=3.2
  - repo: https://github.com/asottile/yesqa
    rev: v1.3.0
    hooks:
      -   id: yesqa
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.3
    hooks:
      -   id: add-trailing-comma
  - repo: https://github.com/hadialqattan/pycln
    rev: v1.3.1
    hooks:
      -   id: pycln
