language: python
python:
 - "2.6"
 - "2.7"
 - "3.2"
 - "3.3"
 - "3.4"
install:
 - pip install -r invitations/requirements.txt 
branches:
 only:
  - master
  - devel 
script: cd invitations && manage.py test
